body{
    font-size: 14px;
    background-color:whitesmoke;
  
}

header{
    background-color: antiquewhite;
}

nav{
    background-color: azure;
}

section{
    background-color: bisque;
}

footer{
    background-color: aqua;
}

