body{
    font-size: 16px;
    background-color:whitesmoke;
    font-family:sans-serif;
  
}

header{
    background-color: antiquewhite;
}



nav{
    background-color: azure;
}

section{
    background-color: bisque;
}

footer{
    background-color: aqua;
}

a:link{
    text-decoration: none;
}

#Oscpic {
    height: 300px;
    width: 300px;
    margin-right: 10px;
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

#cover{
    width: 100%;
}

.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}
.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
}