*{ box-sizing: border-box}

a:hover {
    background-color: #a3be4a;
}

h1 {
    font-family: sans-serif;
}

.main-container{
    width: 900px;
    margin: 0px auto 0px auto;
    
    
}

.promo-container{
    background-color: #a3be4a;
    
}

.branding {
    background-color: azure;
    width: 150px;
    height: 150px;
    margin-right: auto;
    
}
    
header {
    display: flex;
    
}

.pill-button {
    display: inline-block;
    border: 2px solid #ffffff;
    padding: 10px 30px; 
    background: #7f5e40;
    border-radius: 20px;
    text-decoration: none;
    color:white;
    font-family: sans-serif;
    font-size: large;
    font-weight: 800;
    margin: 10px;
    
}

/*Big promo*/
#big-promo {
    padding-top: 200px;
    background-color: #d3c5b7;
    
    
    
    
    
}

.promo-message {
    width: 60%;
    padding: 50px;
    background-color: beige;
    box-shadow: 10px 10px 5px #888888;
    
    
    
    
}

.promo {
background: #7f5e40;
    color: white;
    
    font-family: sans-serif;
    font-size: large;
    
}

/*product features*/
.product-features, .product-buy-it-now {
    
    display:flex;
    
}

.feature {  
    text-align: center;
    padding: 20px;
    
    
}


.feature-image{
    background-color:bisque;
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    border-radius: 50%;
    
    
    
}


    


.product-info {  
    text-align: right;
   
    
  
    
}

.product-buy-it-now {
    align-items: center;
    font-family: sans-serif;
    color:saddlebrown;
    
}

#product-reviews{
    
    background: #a3b34a;
    color: antiquewhite;
    text-align: center;
    padding: 50px;
}

footer {
    display: flex;
    padding: 15px 10px 15px 10px;
    font size: 12px;
    background-color: #7f5e40;
    border-top: solid;
    border-color: beige;
    
}

.footer-links  {
    flex: 1;
    
   
    
    
}

.footer-links a {
    text-decoration: none;
    margin: 5px;
    font-family: sans-serif;
    color: white; 
}

.footer-text {
    text-align: right;
    flex: 1;
    color: white;
    font-family: sans-serif;
    font-size: small;
}

.footer-text p {
    margin: 0;
}