*{ box-sizing: border-box}



.main-container{
    width: 900px;
    margin: 0px auto 0px auto;
    
    
}

.promo-container{
    background: lightgrey;
    
}

.branding {
    background: black;
    width: 150px;
    height: 45px;
    margin-right: auto;
    
}
    
header {
    display: flex;
    
}

.pill-button {
    display: inline-block
    border: 2px solid #a1a1a1;
    padding: 10px 30px; 
    background: grey;
    border-radius: 20px;
    text-decoration: none;
    color:white;
    
}

/*Big promo*/
#big-promo {
    padding-top: 200px;
    background: pink;
    
    
    
    
}

.promo-message {
    width: 60%;
    padding: 50px;
    background: aqua;
    
    
}

.promo {
background: white;
    color: black;
    font-size: 18px;
    
}

/*product features*/
.product-features, .product-buy-it-now {
    
    display:flex;
    
}

.feature {  
    text-align: center;
    padding: 20px;
    
    
}


.feature-image{
    background: orange;
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    border-radius: 50%;
    
    
    
}


    


.product-info {  
    text-align: right;
   
    
  
    
}

.product-buy-it-now {
    align-items: center;
    
}

#product-reviews{
    
    background: navy;
    color: antiquewhite;
    text-align: center;
    padding: 50px;
}
